:root {
  --primary-color: #ff724c;
  --dark-gray: #333333;
  --error: #ff4949;
  --success: #40fd88;
}

nav {
  background-color: var(--dark-gray);
  color: var(--primary-color);
  border-bottom: 4px solid var(--primary-color);
}

.nav-item {
  font-size: 18px;
}

.navbar-nav .nav-link.active {
  color: var(--primary-color);
}

button.navbar-toggler:focus {
  box-shadow: none;
}

.log-out {
  color: red;
  cursor: pointer;
}

.content {
  padding: 30px 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 30px;
  text-align: center;
}

.task-text {
  color: var(--dark-gray);
}

.master-text {
  color: var(--primary-color);
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.status {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

div.status.success {
  background-color: var(--success);
  color: black;
}

div.status.error {
  background-color: var(--error);
  color: white;
}

@media (max-width: 767px) {
  h1 {
    font-size: 40px;
  }

  .content {
    padding: 30px 15%;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 30px;
  }

  .content {
    padding: 30px 10%;
  }
}

@media (max-width: 450px) {
  .content {
    padding: 30px 5%;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 50px;
  }
}
