.legend {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.legend h4 {
  margin-bottom: 20px;
}

.legend > div {
  display: flex;
}

.legend-item {
  display: flex;
  margin-right: 20px;
  align-items: center;
}

.legend-item > p {
  margin-bottom: 0px;
}

.square {
  width: 20px;
  height: 20px;
  border: 1px solid var(--dark-gray);
  margin-right: 5px;
}

@media only screen and (max-width: 768px) {
  .legend > div {
    flex-direction: column;
  }

  .legend-item {
    margin: 0 0 10px 0;
  }
}
