.settings-page h1 {
  margin-bottom: 70px;
}

.settings-page section {
  width: 400px;
  margin-bottom: 50px;
}

.settings-page section > * {
  margin-bottom: 20px;
}

@media (max-width: 450px) {
  .settings-page section {
    width: auto;
  }
}
