.task-card {
  height: 200px;
  width: 400px;
  padding: 10px 15px;
  border: 1px solid var(--dark-gray);
  border-radius: 10px;
}

.task-card .title-div {
  display: flex;
  align-items: baseline;
  margin-bottom: 15px;
  line-height: normal;
}

.task-card .title-div h3 {
  flex: 1;
}

.task-card .title-div i {
  font-size: 30px;
  margin-left: 10px;
}

.task-card .title-div i:hover {
  cursor: pointer;
}

.bi-pencil:hover {
  border-bottom: 2px solid blue;
}

.bi-trash:hover {
  border-bottom: 2px solid red;
}

.task-card .content-div button {
  width: 50px;
  margin-right: 20px;
  border: 2px solid var(--dark-gray);
  border-radius: 5px;
}

.task-card * {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 768px) {
  .task-card {
    max-width: 100%;
  }
}
