.legend {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin: auto;
  padding: 10px;
  border: 1px solid var(--dark-gray);
  border-radius: 10px;
  background-color: var(--light-gray);
}

.legend h4 {
  margin-bottom: 20px;
}

.legend > div {
  display: flex;
  padding: 10px;
}

.legend-item {
  display: flex;
  align-items: center;
}

.legend-item {
  margin: 20px;
}

.legend-item > p {
  margin-bottom: 0px;
}

.square {
  width: 20px;
  height: 20px;
  border: 1px solid var(--dark-gray);
  margin-right: 8px;
}

@media only screen and (max-width: 768px) {
  .legend {
    width: 80%;
  }

  .legend > div {
    width: 100%;
    flex-direction: column;
  }

  .legend-item {
    margin: 0 0 15px 0;
  }
}
