.task-list-page {
  max-width: 100%;
  min-width: 100%;
}

.task-list-page > .heading-div {
  display: flex;
  align-items: center;
  margin-bottom: 70px;
}

.task-list-page > .heading-div > h1 {
  margin: auto;
}

.task-list-wrapper {
  margin-top: 50px;
}

.task-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.task-list > .task-card {
  margin: 20px;
}

.task-list-page .unfocussed {
  opacity: 40%;
  pointer-events: none;
}

.no-tasks-message {
  margin-top: 50px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .task-list-page > .heading-div {
    justify-content: space-between;
  }

  .task-list {
    flex-direction: column;
  }

  .task-list > .task-card {
    margin: 20px 0px;
  }
}
