.task-list-page {
  max-width: 100%;
  min-width: 100%;
}

.task-list-page h1 {
  margin-bottom: 70px;
}

.task-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.task-list-options {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.task-list-options > * {
  margin: 20px;
}

.task-list > .task-card {
  margin: 20px;
}

.task-list-page .unfocussed {
  opacity: 40%;
  pointer-events: none;
}

@media only screen and (max-width: 768px) {
  .task-list {
    flex-direction: column;
  }

  .task-list-options {
    flex-direction: column;
  }

  .task-list > .task-card {
    margin: 20px 0px;
  }

  .task-list-options > * {
    margin: 0 0 15px 0;
  }
}
