.task-list-options {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  border: 1px solid black;
  padding: 10px;
  border: 1px solid var(--dark-gray);
  border-radius: 10px;
  background-color: var(--light-gray);
}

.task-list-options > div {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  display: flex;
}

.task-list-options > div > * {
  margin: 20px;
}

.task-list-options .search-bar {
  width: calc(100% - 40px);
  margin: 10px 0;
}

@media only screen and (max-width: 768px) {
  .task-list-options > div {
    flex-direction: column;
  }

  .task-list-options > h4 {
    margin-bottom: 15px;
  }

  .task-list-options > div > * {
    margin: 0 0 15px 0;
  }

  .task-list-options .search-bar {
    width: 100%;
    margin: 10px 0;
  }
}
